#{% extends 'base.html' %}
#
#{% block content %}
#  <h2>Добавить изображение</h2>
#  <form method="post" enctype="multipart/form-data">
#    {% csrf_token %}
#    {{ form.as_p }}  <!-- Добавление формы -->
#    <button type="submit">Загрузить</button>
#  </form>
#{% endblock %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавить изображение</title>
</head>
<body>
    <h1>Добавить изображение</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Добавить изображение</button>
    </form>
    <a href="{% url 'dashboard' %}">Назад к дашборду</a>
</body>
</html>
